@font-face {
  font-family: myFirstFont;
  src: url(../../../assets/fonts/slick.a4e97f5a.eot);
}
.promotion {
  z-index: 10;
  position: relative;
  width: 47%;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 10rem;
  .desc {
    display: flex;
    justify-content: space-between;

    p {
      margin-top: 1rem;
      text-indent: 20px;
      font-family: italicSans, sans-serif;
      color: #f1f3e6;
      line-height: 122%;
      letter-spacing: -0.03em;
      font-weight: 400;
      font-style: normal;
    }
    .leftDesc {
      width: 45%;
    }
    .rightDesc {
      width: 45%;
    }
  }
}
.hr {
  display: block;
  position: relative !important;
  width: 100%;
  border-bottom: 1.8px solid rgba(221, 224, 213, 1);
  margin-top: 3rem;
}
@media only screen and (max-width: 600px) {
  .promotion {
    width: 80%;
    .desc {
      flex-direction: column !important;
      .rightDesc,
      .leftDesc {
        width: 100% !important;
      }
    }
  }
}
@media screen and (min-width: 1400px) {
  .promotion {
    width: 40%;
  }
}
